<template>
  <section>
  <div id='bground'>
  </div>
  </section>
</template>
<style>
#bground {
  z-index: -100000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* background: url('../static/Dramatic_Glacier.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; */
  background-color: #669999;
}
#foot {
  color: white;
  z-index: 2;
  position: absolute;
  bottom: 1vh;
  right: 2vw;
  font-size: 10px;
}
</style>
