<template>
<canvas id='myCanvas'>
</canvas>
</template>
<script>

import paper from 'paper'

export default {
  name: '',
  data () {
    return {}
  },
  mounted () {
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);

    let colors = ['red','orange','yellow','green','blue','purple'];
    var amount = 100;
    var grow = true;
    let growthRate = 1.06;
    var circles = [];

    function genCircles() {
      for (var i = 0; i < circles.length; i++) {
        circles[i].remove();
      };
      circles = [];
  		for (var i = 0; i < amount; i++) {
        circles[i] = new paper.Path.Circle(paper.view.center, 100/i);
        circles[i].strokeColor = colors[i%6];
      };
    }


    genCircles(); //First time

    paper.view.onFrame = function(event) {
      for (var a = 0; a < circles.length; a++) {
          circles[a].scale(growthRate)
      }
    }
  }
}
</script>
<style>
#myCanvas {
  width: 100vw;
  height: 100vh;
}
</style>
