<template>
  <nav class="navbar navbar-inverse navbar-fixed-top">
		 <div class="container">
			 <div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					 <span class="sr-only">Toggle navigation</span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
				 </button>
				 <a class="navbar-brand" href="/">BEN TRIPP</a>
			 </div>
			 <div id="navbar" class="navbar-collapse collapse">
				 <ul class="nav navbar-nav navbar-right">
					 <li><nuxt-link class="link" to="/">HOME</nuxt-link></li>
           <li><nuxt-link class="link" to="/bet/">BETTING SIM</nuxt-link></li>
           <li><nuxt-link class="link" to="/burst/">BURST BRUSH</nuxt-link></li>
           <li><nuxt-link class="link" to="/wordgen/">WORD GENERATOR</nuxt-link></li>
           <li><a href="https://ben_tripp_20_4693.trinket.io/sites/q1-project-prototype-4">FLIPPY CAR</a></li>
           <!-- <li><nuxt-link class="link" to="/artgen/">ART GENERATOR</nuxt-link></li> -->
				 </ul>
			 </div>
		 </div>
	 </nav>
</template>

<style>
.navbar-inverse {
	background-color: #669999;
	color: white;
  border: none;
}

.navbar-toggle, .navbar-inverse .navbar-header > button:active {
  border: none;
  background-color: #669999 !important;
}

.navbar-inverse .navbar-collapse {
  border: none;
}
.navbar-inverse .navbar-brand {
	color: white;
  border: none;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    border: none;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-brand:hover {
    text-decoration: underline;
    color: white;
    border: none;
}

.navbar-inverse .navbar-header .icon-bar {
	text-decoration: underline;
  border: none;
}
.navbar-inverse .navbar-header > button:hover {
	text-decoration: underline;
  background-color: #669999;
  border: none;
}
</style>
