<template>
  <section class='noScroll'>
    <div id='banner'>
      <a id='tag' href='../'>bentripp.net</a>
    </div>
  	<div  class='artgen' id="artgen">
  	</div>
    <button v-on:click="gen()" type="button" class="btn btn-info btn-sm padded" id="btn">new art</button>
  </section>
</template>
<script>
import artgen from '../proj/artgen.js'

export default {
  methods: {
    gen() {
      this.myp5.gen();
    },
  },
  mounted() {
    let p5 = require('p5');
    this.myp5 = new p5(artgen, document.getElementById('artgen'));
  }
}
</script>
<style>
#artgen {
	   width: 100vw;
	   height:100vh;
	   position: absolute;
	   left: 0;
	   top: 0;
     border: none;
     overflow: hidden;
     z-index: -1;
}
#btn {
    z-index: 1;
    position: absolute;
    bottom: 3%;
    left: 48%;
}
#tag {
  float: right;
  right: 5px;
  text-align: right;
  padding-top: 10px;
  padding-right: 15px;
  color: black;
}
</style>
