<template>
  <section>
    <div class='bg'></div>
    <div class="container-fluid text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Stack: {{stack}}<br>Wager: {{wager}}</h3>
        <a id='sig' href="../">bentripp.net</a>
        <h2>Your number: {{randNum}}<br>{{game}}</h2>
        <h3>Wins: {{wins}}<br>Losses: {{losses}}<br>Greatest Wager (martingale): {{greatestWager}}</h3>
        <div class="form">
          <div class="row">
            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <h1>Odds (%):</h1>
              <input class="form-control input-sm text-muted" type="number" v-model="odds">
            </div>
            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <h1>Wager:</h1>
              <input class="form-control input-sm text-muted" type="number" v-model="wager">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <h1>Stack:</h1>
              <input class="form-control" type="number" v-model="stack">
            </div>
            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <h1>Rolls:</h1>
              <input class="form-control" type="number" v-model="rolls">
            </div>
          </div>
          <div class="text-center">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" v-model="martingale">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Martingale</span>
            </label>
            <br>
            <button class="btn btn-primary btn-lg" @click="roll()"><b>Roll!</b></button>
          </div>
        </div>
      </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      randNum: null,
      game: '',
      win: null,
      wager: 10,
      baseWager: 10,
      stack: 100,
      rolls: 1,
      odds: 50,
      wins: 0,
      losses: 0,
      martingale: false,
      canRoll: true,
      greatestWager: 0
    }
  },
  methods: {
    loseBet(){
      this.game = 'You lose.'
      this.win = false
      this.stack = parseInt(this.stack) - parseInt(this.wager)
      this.losses++
      if (this.martingale) {
        this.wager *= 2
        if (this.wager > this.greatestWager) {
          this.greatestWager = this.wager
        }
      }
      console.log(this.wager)
    },
    winBet(){
      this.game = 'You win!'
      this.win = true
      this.stack = parseInt(this.stack) + parseInt(this.wager)
      this.wins++
      if (this.martingale) { this.wager = this.baseWager }
    },
    roll() {
      if (this.martingale == true && this.firstMarting == true) {
        this.baseWager = this.wager
        this.firstMarting == false
      } else if (this.martingale == false) {
        this.firstMarting = true
        this.greatestWager = 0
      }
      if (this.wager <= this.stack) {
          for(this.i = 0; this.i < this.rolls; this.i++) {
            this.randNum = Math.floor(Math.random() * 100) + 1

            if (this.randNum <= this.odds) {
              this.winBet()
            } else {
              this.loseBet()
            }

            if (this.stack < 1) {
              this.game = 'Busted!'
              this.wager = this.baseWager
              return
            }
            console.log(`Roll: ${this.i}, ${this.win}, ${this.wager}`)
          }
        } else {
          this.game = 'Not enough money.'
          this.wager = 0
          this.canRoll = false
        }
      }

  },
  watch: {
  }
}
</script>
<style>
.text-left{
    padding: 0;
    padding-left: 10px;
    margin: 0;
  	background: none;
    font-family: 'Avenir', Helvetica;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #f2f6fc;
    margin-bottom: 0px;
}
.bg {
  background-color: #85c1dd;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
.form-group {
  margin: 0;
  padding: 15px;
  padding-right: 20px;
}
#sig {
  position: absolute;
  right: 10px;
  top: 1vh;
  color: white;
  font-family: 'Avenir', Helvetica;
  font-size: 15px;
}
</style>
