<template>
  <section class='noScroll'>
    <div @touchmove="prevent" id='banner'>
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      options <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>multishade burst<input v-on:touchstart='multi();' v-on:click='multi();' type='checkbox' class='padded' v-model='multishade'>color<input v-on:touchstart='rain()' v-on:click='rain()' type='checkbox' class='padded' v-model='rainbow'></li>
      <li>autoburst<input v-on:touchstart='aut()' v-on:click='aut();' type='checkbox' class='padded' v-model='auto'>sclamp<input v-on:touchstart='sclp()' v-on:click='sclp()' type='checkbox' class='padded' v-model='sclamp'></li>
      <li>connected mode<input v-on:touchstart='cnct()' v-on:click='cnct();' type='checkbox' class='padded' v-model='connect'></li>
      <li><button v-on:click="clr()" type="button" class="btn btn-info btn-sm padded">Clear Screen</button><button v-on:click="sv()" type="button" class="btn btn-success btn-sm padded">Save Drawing</button></li>
    </ul>
    <a id='tag' href='../'>bentripp.net</a>
    <h5 id='help'>Click and Drag to Create a Burst</h5>
    </div>
  	<div  class='sketch' id="sketch">
  	</div>
  </section>
</template>
<script>
	import sketch from '../proj/sketch.js'

	export default {
		data() {
		  return {
		    myp5: null,
        multishade: false,
        rainbow: true,
        auto: false,
        sclamp: false,
        connect: true
		  }
		},
    methods: {
      clr() {
        this.myp5.clr();
      },
      sv() {
        this.myp5.sv();
      },
      update() {
        this.myp5.upd(this.auto,this.sclamp,this.connect,this.multishade,this.rainbow);
      },
      multi() {
        if (this.multishade==true) {this.multishade=false;} else {this.multishade=true;};
        this.update();
      },
      rain() {
        if (this.rainbow==true) {this.rainbow=false;} else {this.rainbow=true;};
        this.update();
      },
      aut() {
        if (this.auto==true) {this.auto=false;} else {this.auto=true;};
        this.update();
      },
      sclp() {
        if (this.sclamp==true) {this.sclamp=false;} else {this.sclamp=true;};
        this.update();
      },
      cnct() {
        if (this.connect==true) {this.connect=false;} else {this.connect=true;};
        this.update();
      },
      prevent (event) {
        console.log('something happened')
        event.preventDefault()
        event.stopPropagation()
      }

    },
		mounted() {
			let p5 = require('p5');
			this.myp5 = new p5(sketch, document.getElementById('sketch'));
		}
	}
</script>
<style scoped>
@media screen{
    body {
      overflow: hidden !important;
    }
    #sketch {
      overflow: hidden !important;
    }
    html {
      overflow: hidden !important;
    }

}
body {
  margin: 0;
  padding: 0;
  background-image: none;
  width: 100vw;
  height: 100vh;
}
#sketch {
	   width: 100vw;
	   height:100vh;
	   position: absolute;
	   left: 0;
	   top: 0;
     border: none;
     overflow: hidden;
}
#banner {
  position: absolute;
  width: 100vw;
  z-index: 100;
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#tag {
  float: right;
  right: 5px;
  text-align: right;
  padding-top: 10px;
  padding-right: 15px;
  color: black;
}

#help {
  text-align: center;
  right: 0.5vw;
  padding-top: 10px;
  opacity: 0.5;
}

.dropdown-toggle {
  color: black;
  float: left;
  left: 5px;
  padding-top: 10px;
  padding-left: 10px;
}

.dropdown-menu {
  margin-left: 10px;
  padding: 5px;
}

.padded {
  padding: 5px;
  margin: 5px;
}
</style>
