<template>
  <section>
    <Background/>
    <Navy/>
    <Blob/>
    <transition name="fade">
      <h1 v-if="showLine" id="hellotext" class="unselectable">HELLO</h1>
    </transition>
  </section>
</template>

<script>
import Navy from '~/components/Navy.vue'
import Background from '~/components/Background.vue'
import Blob from '~/components/Blob.vue'

export default {
  components: {
    Navy,
    Background,
    Blob
  },
  data() {
    return {
      showLine: false
    }
  },
  mounted() {
    setTimeout(() => {
      this.showLine = !this.showLine
    }, 2000);
  }

}
</script>

<style>
#hellotext {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  font-size: 100px;
  color: white;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
</style>
