<template>
  <section>
    <a id='sig' href="../">bentripp.net</a>
    <section id='overlay'>
      <h1 class='robo'>{{headText}}</h1>
      <transition name="fade">
        <h2 v-if="showLine" class='robo'>{{lastLine}}</h2>
      </transition>
      <h2 class="robo text-center" id='word'>{{consoleText}}</h2>
    </section>
    <div id='canv'></div>
  </section>
</template>

<script>
import Loading from '~/assets/bunnyPlayground.js'
import Sprite from '~/components/Sprite.vue'
import word from '~/assets/word.js'

export default {
  data() {
    return {
      headText: 'HUMAN WORD BOT v112.2.6',
      lastLine: '>> CLICK TO GENERATE NEW HUMAN WORD',
      consoleText: '',
      showLine: true,
      temp: '',
      max: 0,
      constLast: true,
      init: true

    }
  },
  components: {
    Sprite
  },
  methods: {
    startInterval: function () {
         setInterval(() => {
              this.showLine = !this.showLine
         }, 500);
    },
    generate: function () {
      this.load.activate();
      this.lastLine = "GENERATING...";
      this.temp = word(4);
      this.consoleText = '';
      setTimeout(() => {
        this.load.deactivate();
        this.lastLine = '>> CLICK TO GENERATE NEW HUMAN WORD';
        this.consoleText = this.temp.toUpperCase();
      }, 2500);

    }
  },
  mounted () {
    word();
    const self = this;
    this.load = new Loading();
    this.startInterval();
    document.body.addEventListener("click", function( event ) {
      self.generate();
    }, false);
    document.body.addEventListener("touchstart", function( event ) {
      self.generate();
    }, false);

    if ( window.innerWidth <= 800 ) {
      this.load.mobile();
    }
  }
}
</script>
<style>

.body {
   background-color: #99cccc;
}
#canv {
  height: 100vh;
  width: 100vw;
  z-index: -20;
  background-color: #99cccc;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
#overlay {
  position: absolute;
  color: #666666;
}
.robo {
  font-family: "orbitron";
  padding-left: 3vw;
}

#word {
  font-size: 12vw;
  padding: 15px;
}

#sig {
  font-family: "orbitron";
  position: absolute;
  right: 10px;
  top: 2vh;
  color: #666666;
}

@media only screen and (max-width: 800px) {
  #sig {
    top: 96vh;
  }
}

</style>
